langchain
langchain-community
langchain-openai
langchain-experimental
langgraph
openai
faiss-cpu
pydantic
python-dotenv
requests
streamlit
pinecone
langchain-text-splitters
pypdf
pytest
sentence-transformers
torch